<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="/foundation.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/mystyle.css"> -->
    <title>Mongoose</title>
</head>

<body>
    <div id="container">
        <form action="/users" method="post">
            <h1>Mongoose is loose</h1>
            <div class="form-group">
                Your Name:
                <input class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
                Your Age:
                <input class="form-control" type="number" name="age">
            </div>
            <input class="button expanded" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>