<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/foundation.css">
    <title>Counter</title>
</head>

<body>
    <div class="container" style="width: 600px; height: 400px; margin-top: 150px;">
        <h1 class="text-center">Counterific</h1>
        <p class="text-center" style="padding-bottom: 60px"><%=count%> Time(s)</p>
        <a href="/reset" class="button button-rounded-hover" style="float: right">Reset</a>
        <a href="/addtwo" class="button social google-plus" style="float: right">Add 2</a>
    </div>
</body>

</html>
