<div class="jumbotron text-center">
  <h1>How can we help you?</h1>
</div>
<div class="container">

  <div *ngFor="let message of messages" class="well">
      <p>{{message.msg}}</p>
  </div>

  <form (submit)="sendMessage()">
    <div class="form-group">
      Type your question or comment:
      <textarea class="form-control" type="text" name="message" [(ngModel)]="message"></textarea>
    </div>

    <div class="col-sm-12 col-md-6">
      <input class="btn btn-primary btn-lg btn-block" type="submit" value="Send">
    </div>
    <div class="col-sm-12 col-md-6">
      <button class="btn btn-secondary btn-lg btn-block" [routerLink]="['/vektor']">Cancel</button>
    </div>
  </form>
</div>
<br>