<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/foundation.css">
    <link rel="stylesheet" type="text/css" href="/mystyle.css">
    <title>Socket Survey</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var socket = io(); //1

            var $survey = $("#survey");
            
            // id button
            $survey.submit(function () {
                var data = {
                    name: $("#name").val(),
                    location: $("#location").val(),
                    language: $("#language").val(),
                    comment: $("#comment").val(),
                };
                var object = JSON.stringify(data);

                socket.emit("posting_form", object);
                return false;
            });

            socket.on("updated_message", function (data) {
                console.log(data.survey_datar);
                $survey.append("<p>" + data.response + data.survey_datar + "</p>");
            });
            socket.on("random_number", function (data) {
                $survey.append("<p>" + data.response + data.random + "</p>");
            });

        });
    </script>
</head>

<body>
    <div id="container">
        <form id="survey" method="post">
            <h1>Coding Dojo Express Survey</h1>
            <div class="form-group">
                Your Name:
                <input id="name" class="form-control" type="text" name="name" value="">
            </div>
            <div class="form-group">
                Dojo Location:
                <select id="location" class="form-control" name="location" placeholder="select">
                    <option selected disabled>Please select</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Seattle">Seattle</option>
                </select>
            </div>
            <div class="form-group">
                Favorite Language:
                <select id="language" class="form-control" name="language">
                    <option selected disabled>Please select</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Node">Node</option>
                </select>
            </div>
            <div class="form-group">
                <p>Comment (optional)</p>
                <textarea id="comment" class="form-control" name="comment" value=""></textarea>
            </div>
            <input class="button expanded" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>