<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
    <title>Cars</title>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Welcome to Cars!</h1>
    </div>
    <div id="main" class="container text-center">
        <img src="/car1" class="img-thumbnail" type="image/jpg" alt="Car4">
        <img src="/car2" class="img-thumbnail" type="image/jpg" alt="Car4">
        <img src="/car3" class="img-thumbnail" type="image/jpg" alt="Car4">
        <img src="/car4" class="img-thumbnail" type="image/jpg" alt="Car4">
        <a class="btn btn-primary btn-block" href='/'>Home</a>
    </div>
</body>

</html>