<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
    <title>Cars and Cats</title>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Welcome to Cars and Cats!</h1>
    </div>
    <div id="main" class="container text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error omnis et, molestias facere nisi itaque in ut? Accusantium accusamus consequatur, commodi, et aperiam odio quam repudiandae, ad rerum numquam neque?</p>
        <a class="btn btn-primary btn-block" href='/cars'>Cars</a>
        <br>
        <a class="btn btn-info btn-block" href='/cats'>Cats</a>
    </div>
</body>

</html>