<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/boots.css">
    <link rel="stylesheet" type="text/css" href="/mystyle.css">
    <title>Critters</title>
</head>

<body>
    <div id="container">
        <h1>This Critter</h1>
            <h4><%= critter.name %></h4>
            <p><%= critter.info %></p>
        <a href="/createcrit/new"><button class="btn btn-primary btn-lg btn-block">Add a Critter</button></a>
    </div>
</body>

</html>